# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=db_demo
DB_USERNAME=santiago_db
DB_PASSWORD=pos2004

# Seguridad
APP_API_KEY=postulaciones-2026-secret-key

# URL del frontend (solo en dev local con Live Server)
FRONTEND_URL=http://localhost:5500
